/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.search-form {
    width: 100%;
}
.search-form .mat-form-field {
    width: 100%;
}
.search-form .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0px;
}

/* https://edupala.com/angular-search-bar-and-example/ */
/* https://errorsea.com/solved-error-ng8001-mat-form-field-is-not-a-known-element-in-angular-cli/ */
