table {
    width: 100%;
  }

  .mat-column-applicationId {
    width: 130px;
    padding-right: 18px;
  }

  .mat-column-clientId {
    width: 80px;
    padding-right: 18px;
  }

  .mat-column-statementDescription {
    width: 180px;
    padding-right: 18px;
  }

  .mat-column-file {
    width: 32px;
    padding-right: 18px;
  }

  