
<!-- <div class="header">
  <span class="logo">
    <img src="../../assets/Persistent_Logo.png" alt="" width="11%" />
  </span>
  <span><h1 class="tool-title">Document Service</h1></span>
</div> -->

<div class="footer">
  <!-- <span style="text-align: left; vertical-align: sub;margin-left: 10px">&copy; Persistent Systems</span> -->
  <span class="tagline">
    <img src="../../assets/Persistent_Tagline.png" alt="" width="10%" />
  </span>
  <span class="copyright"> &copy; Persistent Systems. </span>
</div>




<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style="background-color: #221e29;">
    <a class="navbar-brand" href="#" style="color: white">AI Technothon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="color: white" aria-current="page" href="#">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white" href="#">Document Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-6 search-form mt-1">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Search</mat-label>
          <input type="text" matInput [(ngModel)]="filterString" placeholder="search">
          <!-- <mat-icon class='search-icon' color="primary" matPrefix>search</mat-icon> -->
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        </mat-form-field>
        <mat-table #table  [dataSource]="searchList | filter:filterString" class="mat-elevation-z8"
         matSort *ngIf="searchList.length > 0">

          <ng-container matColumnDef="applicationId">
            <mat-header-cell *matHeaderCellDef> Application Id  </mat-header-cell>
            <mat-cell *matCellDef="let search"> {{search.applicationId}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="clientId">
            <mat-header-cell *matHeaderCellDef> Client Id </mat-header-cell>
            <mat-cell *matCellDef="let search"> {{search.clientId}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="statementDescription">
            <mat-header-cell *matHeaderCellDef> Statement Description </mat-header-cell>
            <mat-cell *matCellDef="let search"> {{search.statementDescription}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="file">
            <mat-header-cell *matHeaderCellDef> file </mat-header-cell>
            <mat-cell *matCellDef="let search"> {{search.file}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fileURL">
            <mat-header-cell *matHeaderCellDef> file URL </mat-header-cell>
            <mat-cell *matCellDef="let search"> {{search.fileURL}} </mat-cell>
            <!-- <mat-icon>cloud_download</mat-icon> -->
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


        </mat-table>
        <div *ngIf="searchList.length === 0" class="text-align">No records found</div>
    </div>
    <div class="col-6 mt-1">

      <div class="file-upload-container">
        <app-file-upload></app-file-upload>
      </div>

      <router-outlet></router-outlet>

  </div>
  </div>
</div>





